<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet"  href="src/styles/global.css" />
		<meta name="generator" content={Astro.generator} />
		<title>Carp Fishing Blog</title>
	</head>
	<body>
		<slot />
	</body>
</html>


