---
import styles from './MenuButton.module.css';
import startImage from '../../assets/startPicture.png';
import MenuButtonToggle from '../menuButton/MenuButtonToggle.tsx';

---
<!-- <section class={styles.container}>
    <div class={styles.header}>
       
        <img src={startImage.src} alt="Start Picture" class={styles.startPicture} />    
   </div>
</section> -->

<MenuButtonToggle client:load/>

 

