.backgroundLogo {
  position: absolute;
  z-index: 1;

  left: 45%;
  width: 18rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.8;
  border-radius: 30px;
}
.title {
  position: relative;
  left: 40%;
  transform: translateX(-50%);
  z-index: 100;
  font-size: 2rem;
  color: #b8e994;
  text-align: center;
}
.logoLink {
  display: flex;
  width: 18rem;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
}
.menu {
  position: absolute;
  top: 50%;
  left: 5rem;
  width: 6rem;
  height: 20rem;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.8;
  border-radius: 30px;
}

.button {
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.iconImage {
  background-color: transparent;
  position: absolute;
  z-index: 0;
  width: 2rem;
  height: 2rem;
}
.iconImage:hover {
  filter: brightness(2);
}
.menuItem {
  display: block;
  position: relative;
  text-decoration: none;
  color: inherit;
  transition: background 0.3s;
}
.newsImage {
  top: 1rem;
  right: 10%;
}
.lakeImage {
  top: 4rem;
}
.learnImage {
  top: 7rem;
  left: 1rem;
}
.ratingImage {
  top: 10rem;
  left: 1rem;
}
.contactImage {
  top: 13rem;
}
.eventsImage {
  top: 16rem;
  right: 20%;
}
.rightIcon {
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.rightIconImage {
  position: absolute;
  top: 28rem;
  left: 0.5rem;
  width: 2rem;
  height: 2rem;
  rotate: 180deg;
}
.menuItem:hover {
  background: rgba(255, 255, 255, 0.1);
}
.startPicture {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  display: block;
}

.menuClosed {
  display: none;
}
.menuOpen {
  display: block;
}
