 
---

import styles from  './LogoBlogLink.module.css';

---

 
 
 <div class={styles.backgroundLogo}>
            <a href="/" class={styles.logoLink}>         
             <h1 class={styles.title}>Carpfishing Blog</h1>
           </a>
</div>