---
import styles from './PictureBackground.module.css';
import startImage from '../../assets/startPicture.png';

---

<main>
   <div class="container">
      <img src={startImage.src} alt="Start Picture" class={styles.startPicture} />
   </div>
</main>